@model IEnumerable<CordilleraMVC.Models.Orden>

@{
    ViewBag.Title = "Ordenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ordenes</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Numero Factura
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            Cliente
        </th>
        <th>
            Empleado
        </th>
        <th>
            Productos
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre)
        </td>
        <td>
            @{ 
                foreach(var producto in item.Productos)
                {
                    @producto.NombreProducto <br />
                }
            }
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.OrdenId }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.OrdenId }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.OrdenId })
        </td>
    </tr>
}

</table>
