@model PagedList.IPagedList<CordilleraMVC.Models.Cliente>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Crear Cliente", "Create")
</p>
@using (Html.BeginForm("Index", "Cliente", FormMethod.Get))
{
    <p>
        Buscar por apellido: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            @Html.ActionLink("Apellido", "Index", new { sortOrder = ViewBag.NombreSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Telefono
        </th>
        <th>
            Email
        </th>
        <th>
            Direccion
        </th>
        <th>
            @Html.ActionLink("Ciudad", "Index", new { sortOrder = ViewBag.CargoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ClienteId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ClienteId }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.ClienteId })
            </td>
        </tr>
    }

</table>
<br />
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
